#main {
    display: flex;
    height:100%;
    margin: 1em;
    font-size:0.9em;

    flex-direction: column;
}

.grid2 {
    margin-top: 2em;
    padding: 0.2em;
}

.grid2 div {
    margin-bottom: 1em;
}

.grid3 {
    text-align: right;
}

#fieldset1 {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}
#fieldset_inner_left {
    display: flex;
    flex-direction: column;
}
#fieldset_inner_left div {
    width: 15em;
    margin:0.3em;
}

#fieldset_inner_left input {
    width:80%;
    margin-left: 0.8em;
}
#fieldset_inner_right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1em;
}

#Btn_Reset {
    flex-basis: 1.5em; /* 高さ */
    align-self: center; /* 水平センタリング */
    position: relative;
    bottom: -2.0em;
}

#Lbl_AutoLockOn_Title {
    margin-bottom: 0em;
}

#LockOnList_outer {
    overflow: auto;
    height: 4em;
    border: 1px solid #ccc;
    padding: 0.5em;
    width: 95%;
}
#LockOnList_inner {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#LockOnList_inner label {
    display: block;
}

#LockOnList_inner input {
    margin-right:0;
}

#Txt_AutoSave {
    width: 2.2em;
    text-align: center;
    padding: 0.2em;
}

#Sel_MultiplySkipTime {
    width: 4em;
    text-align: center;
    padding: 0.2em;
}


.guide {
    color:#666;
    font-size: 0.9em;
}

#Btn_Close {
    width: 6em;
    height: 2em;
    font-size: 1em;
}