body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  
}
/* =============================================
            　　基本UIスタイル
 ============================================= */



/* =============================================
             グリッドレイアウト（全体）
 ============================================= */

 #main {
    display: grid;
    width: 100%;
    height:100%;

    grid-template-columns: 68% 5px auto;
    grid-template-rows: 2.5em 1fr 3em 6em ;
}

.grid1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;        
}

.grid2 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.dragbar {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: #eee;
    cursor: ew-resize;
}

.grid3 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.grid4 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.grid5 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.grid6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
}



/* =============================================
                     grid1
            メディアプレーヤーのブロック
 ============================================= */
#player-box {
    color:#aaa;
    background-color: #000;

    align-self:stretch;
    flex-grow: 1;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

#player-box.dragging {
    background-color: #333;
}

/* 子要素にドラッグイベントを無視させる
    このままだとプレーヤー操作が効かないので、動画再生開始時に解除する
*/
#player-box * {pointer-events: none;}

#player {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    pointer-events: auto;
}

#placeholderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#placeholderInPlayer {
    color:#ccc;
}

/* =============================================
                     grid2
    メディアプレーヤー下のコントローラーブロック
 ============================================= */
 #player-controls {
    background-color: #eee;
    display: flex;
    justify-content: center;
}


#player-controls button{
    height: 100%;
    width : 5em;    
}

#player-controls button svg {
    width: 1.3em;
    height: 1.3em;
    fill: #aaa;
}

svg#play {
    transform: scale(0.8,1)translate(7px,0px);
}

svg#slash {
    transform: rotate(65deg)scale(0.7)translate(0px,0px);
}

svg#pause {
    transform: scale(0.8,1)translate(-7px,0px);
}

.Btn_Jump{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.Btn_Jump div {
    font-size: 1.42em;
    position: relative;
    top: 0.22em;
}

#Btn_PlayPause{
    width:6em !important;
    padding-top:0.75em;
}

#Btn_JumpForward, #Btn_JumpBackward {
    width: 5em !important;
}

.Sel_jumpSec {
    font-size: 0.8em;
    position: relative;
    bottom: -9px;
}

.Sel_playbaclRate {
    font-size: 0.8em;
    position: relative;
    bottom: -5px;
}

/* =============================================
                     grid3
            右上の検索欄。中に水平に3要素を含む
 ============================================= */
 #search-box {

    background-color:#eee;

    display: flex;
    align-items: center;
}

#search-box1 {
    flex-grow: 1;
    align-self: center;

    display: flex;
    justify-content: center;
}

#search-box2 {
    flex-grow: 10;
    margin-right: 0.7em;
}

#Txt_Search {
    width:100%;
}

/* =============================================
                     grid4
                ログ表示ブロック
 ============================================= */
#scripts {
    background-color: #ccc;
    border: 1px solid #999;

    flex:1 1 0;
    overflow-y: scroll;

}

.row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.1em;
    border: 1px solid #888;
}
.filtered {
    display: none;
}
.emphasised {
    background-color: #d2e6ff;
}

.focused {
    border: 2px solid blue;
}

.inTime {
    background-color: #cfc;
    text-align: right;
    align-self: stretch;
    padding: 0.2em;
    flex-shrink: 1;
    flex-basis: 30px;
}

.speaker0 {
    background-color: #CCFFFF;
}
.speaker1 {
    background-color: #FFD5EC;
}
.speaker2 {
    background-color: #CCFFCC;
}
.speaker3 {
    background-color: #FFAADD;
}
.speaker4 {
    background-color: #FFFFCC;
}
.speaker5 {
    background-color: #FFDBC9;
}
.speaker6 {
    background-color: #E6FFE9;
}
.speaker7 {
    background-color: #EAD9FF;
}

div.current {
    border: 3px solid blue;        
    outline-offset: -14px;
}

.script {
    background-color: #fff;
    flex-grow: 6;
    padding: 0.2em;
}

.script textarea {
    width: 98%;
    height: 90%;
    vertical-align: middle;
    line-height: 1.3em;
    resize: none;
    border:none;
}

/* .script textarea:focus {
    box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
 } */

/* =============================================
                     grid5
     「自動スクロール」「新規ログ欄」チェックボックスのあるブロック
      grid2のメディアコントローラーと同じ高さ
 ============================================= */
 #right-bottom {
    background-color:#eee;
    padding-right:0.5em;

    display: flex;
    align-items: center;
    justify-content: end;
    
    font-size:0.85em;
}
#right-bottom > label{
    margin-left:0.5em;
    margin-right:0.5em;
}

/* =============================================
                     grid6
        　　    新規ログ入力ブロック
 ============================================= */
 /* =============================================
             グリッドレイアウト（）
 ============================================= */

#bottom {
    background-color: #eee;
    width: 100%;
    height:100%;

    /* サブグリッド */
    display: grid;
    grid-template-columns: 7.5em 5.5em auto 6.5em;
    grid-template-rows: 1ft 1fr 1fr;
}

.sg1-1 {
    grid-row-start: 1;
    grid-column-start: 1;
}
.sg1-2 {
    grid-row-start: 1;
    grid-column-start: 2;
}
.sg1-3 {
    grid-row-start: 1;
    grid-column-start: 3;
}

.sg2-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    margin-left: 0.4em;

}
.sg2-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-left: 0.4em;
}
.sg2-3 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    margin-left: 0.4em;
}
.sg2-4 {
    grid-row-start: 2;
    grid-column-start: 4;
    margin-left: 1em;
    margin-right: 0.8em;
}

.sg3-1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.subgrid.row1 {
    align-self: flex-end;
    padding:  0.3em 0em 0em 0.3em;
}

.subgrid.row2 button{
    padding-top: 0.4em;
}


#lockedTimecode,#speaker,#memo {
    display: flex;
}
#Txt_lockedTimecode{
    width: 3.5em;
    text-align: center;
}
#Txt_speaker{
    width: 1.5em;
    text-align: center;
}
#Txt_memo {
    width: 100%;
}

/* ファンクションボタン群 */
.subgrid.row3 {
    margin-top:0.3em;
}
.subgrid.row3 button{
    flex-grow: 1;
}

.label {
    font-size:1.0em;
    color:black;
}